/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Special+Elite&family=Yeseva+One&display=swap');*/
* {
    font-family: Roboto Slab, sans-serif;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-flow: column;
    /*justify-content: left;*/
    /*align-items: start;*/
    background-color: rgb(17, 12, 23);
    font-size: 0.8em;


    padding: 5mm;
    color: white;
    border: 10px white;

    width: 295px;
    /*300px;*/
    height: 395px;
    /*height: 400px;*/

    overflow: hidden;
}

.card pre {
    white-space: pre-wrap;
}

.card .ability-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.2em
}

.card-title-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.card-name {
    font-family: Yeseva One, serif;
    font-size: 1.6rem;
}

.stats {
    align-self: flex-end;
}

.image-box {
    width: 70%;
    border: 3px solid;
    border-radius: 5px;
    background-color: #130f15;
    box-shadow: 0 0 10px;
    display: block;
    margin: auto;

    max-height: 130px;
    object-fit: cover;
    /*contain*/
    object-position:top;

}

.card-text {
    color: black;
    background-color: #fbf7d5;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    border: 3px solid white;

    padding: 7px 7px 0 7px;
    margin-top: 5px;
    height: 100%;
    text-align: justify;
}

/*!*.description {*!*/
/*!*    padding: 2mm 0;*!*/
/*!*    flex-grow: 1;*!*/
/*!*    font-size: 1rem;*!*/
/*!*    white-space: pre-wrap;*!*/
/*}*/

.owner {
    font-family: Yeseva One, serif;
}
